/* Write your CSS here */
.containerHome {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgHome {
  width: 100px;
}

.darkTheme {
  background-color: black;
}

.colorText {
  color: white;
}
